numpy==1.9.2
scipy
scikit-learn
nltk
pandas==0.16.0
beautifulsoup4
appdirs==1.4.3
Django==1.11.28
djangorestframework==3.6.2

packaging==16.8
pkg-resources==0.0.0
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
appdirs==1.4.3
coreapi==2.3.0
coreschema==0.0.4
Django==1.11.28
django-crispy-forms==1.6.1
django-filter==1.0.2
django-guardian==1.4.8
djangorestframework==3.9.1
httpie==1.0.3
itypes==1.1.0
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
packaging==16.8
pkg-resources==0.0.0
psycopg2==2.7.1
Pygments==2.2.0
pyparsing==2.2.0
pytz==2017.2
requests==2.20.0
six==1.10.0
uritemplate==3.0.0
appdirs==1.4.3
coreapi==2.3.0
coreschema==0.0.4
Django==1.11.28
django-crispy-forms==1.6.1
django-filter==1.0.2
django-guardian==1.4.8
djangorestframework==3.9.1
httpie==1.0.3
itypes==1.1.0
Jinja2==2.9.6
Markdown==2.6.8
MarkupSafe==1.0
packaging==16.8
pkg-resources==0.0.0
psycopg2==2.7.1
Pygments==2.2.0
pyparsing==2.2.0
pytz==2017.2
requests==2.20.0
six==1.10.0
uritemplate==3.0.0
